<nav style="background-color: #4285f4;" class="navbar navbar-dark primary-color">
  <a class="navbar-brand" style="margin-left: 4%" href="#">
    <img
      src="https://finder.startupnationcentral.org/image_cloud/aidock1_116770c5-22fd-11ea-9256-c76fac21236f?w=46&h=46"
      height="46" alt="mdb logo">
  </a>
  <div style="position: absolute; left: 50%; color: white;">
    <h1 style="position: relative; left: -50%; margin: 32px">{{ 'Phone Book' }}</h1>
  </div>
</nav>
<app-contact-list></app-contact-list>
<div class="text-center p-4 footer" style="background-color: #4285f4;">
  © 2021 Copyright
</div>